div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container-fluid

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li
          a(href='', ng-click='newProject()')
            span.fa.fa-plus.fa-fw
            span New Project

      ul.nav.navbar-nav.navbar-right
        li
          a() My Account

        li
          p.navbar-text.account-image
            img.img-circle(src="http://api.randomuser.me/portraits/thumb/women/3.jpg", height="40", width="40")

        li
          a(href='', ng-click='logout()') Logout