extends ../../templates/scaffold.jade

block content
  #apiPane
    #endPointName
      p
        small {{configuration.type}}
        | {{configuration.url}}

    #createButton
      span.fa.fa-plus.fa-3x

    #apiStage(api-stage)