// .thing-form {
//     margin: 20px 0;
// }
//
// #banner {
//     border-bottom: none;
//     margin-top: -20px;
// }
//
// #banner h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
// }
//
// .hero-unit {
//     position: relative;
//     padding: 30px 15px;
//     color: #F5F5F5;
//     text-align: center;
//     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
//     background: #4393B9;
// }
//
// .footer {
//     text-align: center;
//     padding: 30px 0;
//     margin-top: 70px;
//     border-top: 1px solid #E5E5E5;
// }
//
// .navbar-text {
//   margin-left: 15px;
// }

html, body, body > div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;

  #leftPane {
    width: 360px;
    padding-left: 30px;
    padding-right: 30px;
    background: $darkgrey;
    color: $lightcolor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #appName {
    font-weight: 600;
    font-size: 25px;
    color: $highlight;

    span {
      font-weight: 200;
    }
  }

  .section-headline {
    font-weight: 200;
    font-size: 16px;
    border-bottom: 1px solid $darkgrey-light;
    padding-bottom: 10px;
  }

  .endpoint-entry {
    display: block;
    width: 100%;
    background: $darkgrey;
    border: 0;
    outline: 0;
    text-align: left;

    .endpoint-entry--url {
      font-family: 'Source Code Pro';
      font-size: 16px;
      padding-left: 15px;
      text-overflow: ellipsis;
    }

    .endpoint-entry--type {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  #downloadContainer {
    padding-bottom: 45px;
  }

  .download-btn {
    width: 100%;
    padding: 15px 30px;
    border-radius: 0;
    border-color: $darkgrey-light;
    background: $darkgrey;
    color: $lightcolor;
  }

  #rightPane {
    flex: 1;
    display: flex;
    flex-direction: column;

    .navbar {
      margin-bottom: 0;
    }
  }

  #apiPane {
    background-color: $backgroundblue;
    flex: 1;
    position: relative;
    background-image: url(/assets/images/grid.png)
  }

  #endPointName {
    position: absolute;
    top: 30px;
    left: 30px;
    background: $lightcolor;
    z-index: 9999;
    p {
      margin: 15px 30px;
      line-height: 1;
    }
  }

  #createButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: $highlight-second;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    box-shadow: 0px 1px 5px #333;

    &:hover {
      background: lighten($highlight-second, 2%);
      box-shadow: 0px 1px 9px #333;
    }

    span {
      vertical-align: middle;
      line-height: 80px;
      color: #fff;
    }
  }

  #createDialog {
    position: absolute;
    bottom: 115px;
    right: 70px;
    width: 300px;
    z-index: 900;
    background: $lightcolor;

    padding-bottom: 15px;

    h3 {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 18px;
      font-weight: 300;
      background: $lightgrey;

      .fa {
        color: $darkgrey-light;
      }
    }

    button {
      width: 100%;
      display: block;
      padding: 15px 15px;
      border: 0;
      border-bottom: 1px solid $lightgrey;
      background: $lightcolor;
      text-align: left;

      .fa {
        color: $lightgrey;
      }

      &:hover {
        background: $lightest;
        .fa {
          color: $darkgrey-light;
        }
      }

      &:first-of-type {
        border-top: 1px solid $lightgrey;
      }
    }
  }

  .account-image {
    margin: 5px 15px;
  }
}

.setting-entry {
  display: flex;
  input {
    flex: 1;
    border: 0;
    background: $darkgrey-light;
    padding: 5px 15px;
    &:first-of-type {
      margin-right: 5px;
    }
  }
  margin-bottom: 5px;
}

.new-setting {
  border-radius: 0;
  background: $darkgrey;
  color: $lightcolor;
  border-color: $darkgrey-light;

  &:hover {
    background: $darkgrey-light;
    color: $lightcolor;
  }
}

#projectNameInput {
  background: $darkgrey;
  border: 0;
  padding: 0;
  margin: 0;
}

#newEndpoint {
  margin-top: 15px;
  input {
    background: $darkgrey;
    border: 1px solid $lightcolor;
    margin: auto 10px;
    padding: 5px;
  }
  button {
    border: 0;
    background: $darkgrey;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      background: $darkgrey-light;
      color: $lightcolor;
    }
  }
}