#apiPane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#apiStage {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

#svgContainer {
  position: absolute;
}

path {
  fill:   none;
  stroke: #e2e1e2;
  stroke-width: 0.2em;
  stroke-dasharray: 15,5;
}